@media(max-width: 1200px) {
	.service {
		display: block;
	}

	.service-slider,
	.service-block {
		width: 100%;
	}

	.slide img {
		width: 100%;
		object-fit: cover;
	}

	.service-container {
		margin: 0 auto;
		padding: 0 15px;
}
}


@media(max-width: 1000px) {
	header .container {
		flex-direction: column;
		padding-top: 15px;
	}

	nav {
		margin-top: 40px;
		width: 100%;
	}

	nav li {
		flex-grow: 1;
	}

	nav a {
		text-align: center;
		padding: 56px 0;
	}

	.offer {
		min-height: auto;
		padding: 40px 0;
	}

	.fav-container {
		flex-direction: column;
	}

	.fav-item {
		width: 100%;
	}

	.fav-text {
		width: 100%;
	}

	.fav-img {
		width: 30%;
	}
}

@media (max-width: 800px) {
	.mini-menu {
		display: block;
		background: var(--green);
		width: 100%;
		padding: 20px 0;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 18px;
		font-weight: 900;
		color: var(--white);
		text-transform: uppercase;
	}

	nav ul {
		flex-direction: column;
		display: none;
	}

	nav a {
		padding: 20px 0;
		background: var(--green);
		color: var(--white);
		border-top: 2px solid var(--white);
		transition: 0.3s;
	}

	nav a:hover {
		background: rgba(89, 196, 90, 0.6);
		color: var(--color-menu);
	}

	.section {
		padding: 50px 0 50px;
	}


	.offer__title {
		font-size: 50px;
	}

	.header__container {
		padding-left: 0;
		padding-right: 0;
	}

	.service-item {
		width: 100%;
	}
}

@media(max-width: 700px) {
	nav {
		margin-top: 30px;
	}

	.offer__text {
		margin: 20px auto 35px;
		font-size: 18px;
	}

	.offer__btn {
		font-size: 22px;
		padding: 18px 40px;
	}

	.fav-item {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.fav-img {
		width: 70%;
		margin: 0 auto;
	}
	
	.slide img {
		filter: blur(5px);
	}

	.slick-center img {
		filter: blur(0);
	}
}