*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



html {
	--green: #59c45a;
	--white: #fff;
	--lightgray-a: #efeeee;
	--lightgray-b: #9b9b9b;
	--lightgray-c: #c9c9c9;
	--orange: #ed7e01;
	--color-menu: #474747;
	--color-title: #3c3c3c;
	--color-text: #959595;
	--wrapWigth: 1920px;
	--contWidth: 1200px;
	--font: 'Lato', sans-serif;
	--mc: 0 auto;
}

body {
	background: var(--white);
	font-family: var(--font);
}

.wrapper {
	max-width: var(--wrapWigth);
	margin: var(--mc);
}

.container {
	max-width: var(--contWidth);
	margin: var(--mc);
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	display: block;
	color: var(--color-menu);
	padding: 55px 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	transition: 0.5s;
}

nav a:hover {
	color: var(--white);
	background: var(--green);
}

.header__container {
	align-items: center;
}

.logo {
	text-decoration: none;
	color: var(--green);
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 900;
	display: block;
	padding: 12px 21px;
	border: 2px solid #b7b7b7;
	position: relative;
}

.logo::after {
	content: 'travel';
	color: var(--green);
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0 15px;
	background: var(--white);
	position: absolute;
	top: 47px;
	right: 43px;
}

.mini-menu {
	display: none;
}


.offer {
	min-height: 915px;
	background: url(../img/bg.jpg) center / cover fixed;
}

.offer__container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: inherit;
	text-align: center;
}

.offer__title {
	color: var(--white);
	font-size: 68px;
	text-transform: uppercase;
}

.offer__text {
	color: var(--white);
	max-width: 1000px;
	font-size: 22px;
	line-height: 173%;
}

.offer__btn {
	text-decoration: none;
	text-transform: uppercase;
	background: var(--green);
	color: var(--white);
	font-size: 26px;
	padding: 25px 40px;
	border-radius: 5px;
}

.section {
	padding: 100px 0 100px;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	color: var(--green);
	font-size: 28px;
	font-weight: 400;
	position: relative;
	margin: 0 0 60px;
}

.section-title::before {
	content: '';
	display: block;
	width: 150px;
	height: 1px;
	background: #c2c2c2;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-75px);
}

.section-title::after {
	content: '';
	display: block;
	width: 50px;
	height: 3px;
	background: var(--green);
	position: absolute;
	top: 39px;
	left: 50%;
	transform: translateX(-25px);
}

.fav-container {
	flex-wrap: wrap;
	margin-top: 60px;
}

.fav-item {
	width: 48%;
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}

.fav-img {
	width: 50%;
	margin-right: 30px;
}

.fav-text {
	width: 280px;
}

.fav-text h3 {
	font-size: 15px;
	font-weight: 900;
	color: var(--color-title);
	margin: 15px 0 10px;
}

.fav-text p {
	font-size: 14px;
	font-weight: 400;
	color: var(--color-text);
	line-height: 157%;
}

.service {
	display: flex;
	background: var(--lightgray-a);
}

.service-slider {
	width: 50%;
	position: relative;
}

.slick-dots {
	position: absolute;
	width: 100%;
	bottom: 40px;
	left: 0;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slick-dots button {
	font-size: 0;
	border: none;
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: #ffffff;
	border-radius: 50%;
	margin: 0 6px;
	outline: none;
}

.slick-active button {
	background: var(--green);
}

.service-block {
	width: 50%;
	padding: 60px 0 0;
}

.service-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 800px;
	padding: 0 80px;
}

.service-item {
	width: 48%;
	text-align: center;
	margin-bottom: 35px;
}

.service-item p {
	font-size: 14px;
	color: var(--color-text);
	line-height: 171%;
	text-align: left;
	margin: 25px 0 0;
}

.slick-list,
.slick-track {
	height: 100%;
}

.slide img {
	height: 100%;
}

.tours-container {
	flex-direction: column;
}

.tours__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-template-rows: repeat(3, 215px);
	gap: 30px;
	margin-bottom: 100px;
}

.tours__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button {
	display: block;
	width: 230px;
	margin: 0 auto;
	background: var(--green);
	padding: 25px 50px;
	border: none;
	box-shadow: 0px 0px 35px 0px rgba(89, 196, 90, 0.64);
	border-radius: 5px;
	color: var(--white);
	font-size: 26px;
	line-height: 127%;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	box-shadow: none;
	background: #51aa54;
}

.contacts {
	background: var(--lightgray-a);
}

.title-contacts {
	color: var(--color-text);
}

.title-contacts::before,
.title-contacts::after {
	content: '';
	display: none;
}

.contacts-container {
	display: flex;
}

.contact-info,
.contact-form {
	width: 50%;
	border: 1px solid var(--lightgray-c);
}

.contact-info {
	padding: 35px 30px 60px;
}

.footer-logo {
	display: inline-block;
}

.footer-logo::after {
	background: var(--lightgray-a);
}

.contact-info p {
	color: var(--color-text);
	font-size: 14px;
	line-height: 157%;
	margin: 40px 0 30px;
}

.contact-item {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.contact-item span,
.contact-item a {
	font-size: 14px;
	line-height: 229%px;
	font-weight: 700;
	color: var(--lightgray-b);
	text-decoration: none;
}

.contact-item i {
	color: var(--orange);
	margin-right: 19px;
}

.socials {
	margin-top: 35px;
	display: flex;
}

.socials a {
	width: 40px;
	height: 40px;
	background-color: var(--lightgray-c);
	border-radius: 3px;
	font-size: 22px;
	color: var(--white);
	text-decoration: none;
	text-align: center;
	line-height: 182%;
	margin-right: 10px;
	transition: 0.3s;
}

.socials a:hover {
	transform: scale(1.2);
}

.facebook:hover {
	background: #4267B2;
}

.google:hover {
	background: #DB4437;
}

.linkedin:hover {
	background: #2867B2;
}

.twitter:hover {
	background: #1DA1F2;
}

.contact-form {
	padding: 40px 30px 60px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 40px;
	border: none;
	background: var(--lightgray-a);
	border-bottom: 1px solid var(--lightgray-c);
	color: var(--color-text);
	font-size: 14px;
	margin-bottom: 30px;
	outline: none;
}

.contact-form textarea {
	resize: none;
	height: 100px;
	margin-bottom: 60px;
}

.contact-form button {
	display: block;
	width: 230px;
	margin: 0 auto;
	background: var(--green);
	padding: 25px 50px;
	border: none;
	box-shadow: 0px 0px 35px 0px rgba(89, 196, 90, 0.64);
	border-radius: 5px;
	color: var(--white);
	font-size: 26px;
	line-height: 127%;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}

.contact-form button i {
	margin-left: 35px;
}

.contact-form button:hover {
	box-shadow: none;
	background: #51aa54;
}